<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero Creation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!--    {% load static %}-->
<!--    <link href="static/styles.css" rel="stylesheet">-->
</head>
<body>
<form action="{% url 'superheroes:create_new_superhero' %}" method="post">
    {% csrf_token %}
    <div>
        <label for="superhero_name" class="form-label">Superhero Name</label>
        <input type="text" class="form-control" id="superhero_name">
    </div>
    <div>
        <label for="alter_ego" class="form-label">Alter Ego</label>
        <input type="text" class="form-control" id="alter_ego">
    </div>
    <div>
        <label for="primary_ability" class="form-label">Primary Ability</label>
        <input type="text" class="form-control" id="primary_ability">
    </div>
    <div>
        <label for="secondary_ability" class="form-label">Secondary Ability</label>
        <input type="text" class="form-control" id="secondary_ability">
    </div>
    <div>
        <label for="catchphrase" class="form-label">Catchphrase</label>
        <input type="text" class="form-control" id="catchphrase">
    </div><br>
    <input type="submit" class="btn btn-primary center" value="Add new!"><br><br>
    <a href="{% url 'superheroes:index' %}">Go Back</a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</form>
</body>
</html>