<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superhero Details</title>
</head>
<body>
<h1>Superhero</h1>
<ul>
    <b>Hero Name:</b> {{single_superhero.superhero_name}}<br>
    <b>Alter Ego:</b> {{single_superhero.alter_ego}}<br>
         <b>Name:</b> {{single_superhero.name}}<br>
    <b>Primary Ability:</b> {{single_superhero.primary_ability}}<br>
    <b>Secondary Ability:</b> {{single_superhero.secondary_ability}}<br>
    <b>Catchphrase:</b> {{single_superhero.catchphrase}}

</ul>
</body>
</html>
